@import "../../../variables.css";

.item {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 300;
    background-color: var(--timeline-item-background);
    border: none;
    box-sizing: border-box;
}