{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-2",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    ["react-css-modules", {"context": "src"}],
    "transform-decorators-legacy"
  ]
}
