.indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    width: 2px;
    height: 100%;
    background: #0066CB;
    /*transition: all 0.5s ease-in-out;*/
    /*transition:left 1s linear;*/
}

.controls {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 100px;
    height: 50px;
    background: #0066CB;
}

.in {

}

.out {

}

.time {

}