@import "../../variables.css";

:root {
    --indicator-background: color(var(--brand-primary));
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
    width: 2px;
    height: 100%;
    background-color: var(--indicator-background);
    /*transition: all 0.5s ease-in-out;*/
    /*transition:left 1s linear;*/
}

.controls {
    position: absolute;
    top: -50px;
    left: 0px;
    width: 100px;
    height: 50px;
    background-color: var(--indicator-background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buttons {
    width: 36px;
    margin: 4px auto;
}

.in {
    width: 13px;
    height: 16px;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    background: url("./images/in.png") no-repeat;
}

.in.active {
    background: url("./images/in-active.png") no-repeat;
}

.out {
    width: 13px;
    height: 16px;
    display: inline-block;
    cursor: pointer;
    background: url("./images/out.png") no-repeat;
}
.out.active {
    background: url("./images/out-active.png") no-repeat;
}

.disabled {
    opacity: 0.5;
}

.time {
    color: #FFF;
    text-align: center;
    margin: 2px 0;
}