:root {
  /*--brand-primary: #0066CB;*/
  --brand-primary: #EF5F33;
  --brand-secondary: #73859F;
  --brand-tertiary: #BFC7D3;
  --brand-light: #FFF;
  --brand-dark: #2B333F;
  --brand-gray: #F9F9F9;
}
